<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mb-4 mx-4">
        <div class="card-body p-4">
          <h1>Registrati</h1>
          <p class="text-muted">Crea il tuo account</p>

          <form (ngSubmit)="register()">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <app-icon name="bi bi-person"></app-icon>
                </span>
              </div>
              <input
                class="form-control"
                type="text"
                placeholder="Username"
                [(ngModel)]="username"
                name="username"
              />
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <app-icon name="bi bi-envelope"></app-icon>
                </span>
              </div>
              <input
                class="form-control"
                type="text"
                placeholder="Email"
                [(ngModel)]="email"
                name="email"
              />
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <app-icon name="bi bi-lock"></app-icon>
                </span>
              </div>
              <input
                class="form-control"
                type="password"
                placeholder="Password"
                [(ngModel)]="password"
                name="password"
              />
            </div>

            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <app-icon name="bi bi-lock"></app-icon>
                </span>
              </div>
              <input
                class="form-control"
                type="password"
                placeholder="Ripeti la password"
                [(ngModel)]="confirmPassword"
                name="confirmPassword"
              />
            </div>

            <button class="btn btn-primary btn-block" type="submit">
              Crea Account
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
